@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

#eat {
  width: 20em;
  height: 20em;
  background-color: rgb(240, 26, 240);
  border-radius: 2em;
  margin-top: 5em;
  padding: 2em;
  
}

#eat-btn-container {
  margin-top: 2em;
}

 #eat-healthy-btn {

 }

 #eat-unhealthy-btn {
   
 }

 @media only screen and (max-width: 750px) {
  #eat {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 14em;
    height: 14em;
    background-color: rgb(240, 26, 240);
    border-radius: 2em;
    margin: 2em;
    padding: 1em;
  }
  
  h2 {
    text-align: center;
  }

  #full-score {
    text-align: center;
  }

  #eat-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  #eat-healthy-btn {
    width: 6em;
    height: 4em;
    font-size: 10px;
    margin: 5px;


  }
 
  #eat-unhealthy-btn {
    width: 7em;
    height: 4em;
    font-size: 10px;
    margin: 5px;
  }
 }
