@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

#eat {
  width: 20em;
  height: 20em;
  background-color: rgb(240, 26, 240);
  border-radius: 2em;
  margin-top: 5em;
  padding: 2em;
  
}

#eat-btn-container {
  margin-top: 2em;
}

 #eat-healthy-btn {

 }

 #eat-unhealthy-btn {
   
 }
