@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

#fight {
  width: 20em;
  height: 20em;
  background-color: rgb(136, 255, 0);
  border-radius: 2em;
  text-align: center;
  margin-top: 10em;
}

#fight-btn {
  background-color: lightgoldenrodyellow;
  color: darkorchid;
  border-radius: 10px;
  border: none;
  font-weight: bolder;
}
