@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import "./eat.scss";
@import "./fight.scss";
@import "./play.scss";
@import "./sleep.scss";



body {
  display: flex;
  justify-content: center;
  background-image: url(../styles/Images/tama-background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

#quad-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 140em;
  height: 70em;
}

#left-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45em;
}

#right-row {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 45em;
}

@media only screen and (max-width: 2240px) {
  body {
    display: flex;
    justify-content: center;
    background-image: url(../styles/Images/tama-background.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  #quad-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 120em;
    height: 70em;
    margin-top: 5em;
  }
  
  #left-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 53em;
  }
  
  #right-row {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 58em;
  }

}



@media only screen and (max-width: 750px) {
  
  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(../styles/Images/tama-background.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  #quad-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30em;
    margin-top: 2em;
    margin-left: 2em;
  }
  
  #left-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
  }
  
  #right-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}
