@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import "./eat.scss";
@import "./fight.scss";
@import "./play.scss";
@import "./sleep.scss";


body {
  display: flex;
  justify-content: center;
  background-image: url(../styles/Images/tama-background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

#quad-container {
  display: flex;
  flex-direction: row;
}

#left-row {
  display: flex;
  flex-direction: column;
}

#right-row {
  display: flex;
  flex-direction: column;
}



// #btn-container {
//   display: flex;
//   flex-direction: column;

// }

// #top {
//   display: flex; 
//   justify-content: center;
//   margin-left: 10em;
//   position: absolute;

// }

// #bottom {
//   display: flex;
//   justify-content: space-around;
//   width: 28em;
//   margin-left: 2.5em;

// }

// #play-btn {
//   background-color: lightblue;
//   color: darkorchid;
//   border-radius: 10px;
//   border: none;
//   font-weight: bolder;
//   margin-top: 17.5em;
//   margin-left: 14.3em;
// }

// #eat-btn, #fight-btn, #sleep-btn {
//   background-color: lightgoldenrodyellow;
//   color: darkorchid;
//   border-radius: 10px;
//   border: none;
//   font-weight: bolder;
//   margin-top: 33.5em;
// }
