@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";


#play {
  width: 20em;
  height: 20em;
  background-color: rgb(62, 186, 243);
  border-radius: 2em;
  text-align: center;
  margin-top: 10em;
}


#play-btn {
  background-color: lightblue;
  color: darkorchid;
  border-radius: 10px;
  border: none;
  font-weight: bolder;
}
