@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";


#play {
  width: 15em;
  height: 15em;
  background-color: yellow;
}


// #play-btn {
//   background-color: lightblue;
//   color: darkorchid;
//   border-radius: 10px;
//   border: none;
//   font-weight: bolder;
//   margin-top: 17.5em;
//   margin-left: 14.3em;
// }
