@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

#sleep {
  width: 20em;
  height: 20em;
  background-color: rgb(255, 135, 23);
  border-radius: 2em;
  margin-top: 5em;
  padding: 2em;
}

#sleep-btn-container {
  margin-top: 2em;
}

@media only screen and (max-width: 750px) {

  #sleep {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 14em;
    height: 14em;
    background-color: rgb(255, 135, 23);
    border-radius: 2em;
    margin: 2em;
    padding: 1em;
  }
  
  h2 {
    text-align: center;
  }

  #energy-score {
    text-align: center;
  }

  #sleep-score {
    text-align: center;
  }

  #sleep-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  #nap-btn {
    width: 6em;
    height: 4em;
    font-size: 10px;
    margin: 5px;
  }
 
  #deep-slumber-btn {
    width: 7em;
    height: 4em;
    font-size: 10px;
    margin: 5px;
  }
 }
