@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

#sleep {
  width: 20em;
  height: 20em;
  background-color: rgb(250, 169, 94);
  border-radius: 2em;
  margin-top: 10em;
  padding: 2em;
}

#sleep-btn-container {
  margin-top: 2em;
}
